.box {
    width: 100%;
    max-height: 768px;
    height: auto;
    margin: 0 auto;
}

.nav-box {
    width: 100%;
    background: #222;
    margin-bottom: 20px;
}

.nav-box .navbar {
    width: 1200px;
    border-color: #222;
    margin: 0 auto;
}

.content-box {
    width: 1200px;
    margin: 0 auto;
}

#sub, #claer {
    float: right;
    margin: 0 10px;

}

.textBox,#divBox div {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 5px;
    overflow-y: scroll;
}

#divBox,#tagBox {
    height: 530px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    overflow-y: scroll;
}

.utilBtn {
    border-radius: 8px;
    display: block;
    margin:0 auto 5px auto;
}

.border_box_style{border: 2px solid #cc6527 !important;border-radius: 4px;}
